.featured{
    margin: 0px 100px;  
    padding-top: 100px;  
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    
}

/* smaller desktop */
@media screen and (max-width: 1200px) {}


/* most tablets */
@media screen and (max-width: 992px) {
    .featured{
        margin: 0 50px;
    }
}

/* small devices */
@media screen and (max-width: 768px) {}

/* smart phones */
@media screen and (max-width: 480px) {
    .featured {
            margin: 0 20px;
        }
}