.carbowoodContainer{
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 5px 3px 5px 0px rgba(125, 117, 117, 0.75);
        -webkit-box-shadow: 5px 3px 5px 0px rgba(125, 117, 117, 0.75);
        -moz-box-shadow: 5px 3px 5px 0px rgba(125, 117, 117, 0.75);
    
}

.carbowoodContainer p{
    margin-bottom: 10px;
    line-height: 34px;
}