.carbowoodContainer{
    width: 60%;
    margin: 30px auto;
    padding: 50px;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 5px 3px 5px 0px rgba(125, 117, 117, 0.75);
        -webkit-box-shadow: 5px 3px 5px 0px rgba(125, 117, 117, 0.75);
        -moz-box-shadow: 5px 3px 5px 0px rgba(125, 117, 117, 0.75);

}
.carbowoodContainer h2 {
    font-weight: 400;
    color: rgb(49, 49, 49);
}

.carbowoodContainer p {
    margin: 16px 0;
    line-height: 28px;
}

.carbowoodContainer .img-container {
    display: flex;
    flex-direction: column;
}

.carbowoodContainer .img-container .img-title {

}

.carbowoodContainer .img-text-right
{
    float: right;
}

.carbowoodContainer .img-text-left {
    /* float: left; */
    margin-right: 10px;
}

.img-text-tourte {
    margin-right: 20px;
    margin-left: 20px;
}


